
<div>
    <section class="flexbox padding">
        <div class="stretch">
            <input type="text" ng-model="city" placeholder="Enter city name" #city>
        </div>
        <div class="normal">
            <button class="button" (click)="findWeather(city.value)">Get Weather</button> 
        </div>
    </section>
    <br><br><br><br><br><br>
    <div class="row">
        <div class="column text-white center container">
            <div class="card-header text-center">
                <div class="font100">{{weatherData.city}}</div>
                <img class="iconsize" src="{{iconURL}}" alt="weather image">
            </div>
            <div class="text-center">
                <p class="card-text font50">Temperature: {{temperature}} °C</p>
            </div>
        </div>
        <div class="column text-white center container">
            <div class="text-center font40">
                <p class="card-text">Summary: {{summary}}</p>
                <p class="card-text">Feels like: {{feelsLikeTemp}} °C</p>
                <p class="card-text">Min Temp: {{minTemp}} °C</p>
                <p class="card-text">Max Temp: {{maxTemp}} °C</p>
                <p class="card-text">Pressure: {{pressure}} hPa</p>
                <p class="card-text">Humidity: {{humidity}} %</p>
            </div>
        </div>
    </div>
    
</div>